html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  -webkit-app-region: drag;
  color: whitesmoke;
  position: absolute;
  width: 100%;
}

header h1,
section.manual-mode,
section.stop-mode,
section.status {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans';
}

header section.hide {
  visibility: hidden;
  display: none;
}

section.manual-mode,
section.stop-mode {
  display: flex;
  justify-content: center;
}

section.manual-mode h2 {
  margin: 0;
  background-color: white;
  border-radius: 30px;
  color: black;
  padding: 10px;
  font-size: 20px;
  margin-top: 15px;
}

section.stop-mode h2 {
  margin: 0;
  background-color: red;
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-size: 25px;
  margin-top: 15px;
}

section.status {
  position: absolute;
  top: 0px;
  right: 15px;
}

section.status h2 {
  margin: 0;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-top: 15px;
}

section.status h2.message {
  color: green;
}

section.status h2.error {
  color: red;
}
